/* Sass file that sorts a list and prints the sorted list in the debug output */

$list_to_sort: john anna zoe kim felicia carrie;

@function sort_list($list) {

  $sorted_list: ();

  @each $item in $list {

    $index: 1;

    @each $other_item in $sorted_list {

      @if $item < $other_item {

        @break;

      }

      $index: $index + 1;

    }

    $sorted_list: set-nth($sorted_list, $index, $item);

  }

  @return $sorted_list;

}
